.q3{
    padding-top: 25px;
}
.q4{
width: 20px;
}
.q5{
width: 20px;
}
.q1{
    background-color: #6E349D;
}
.nav-link{
    color: white;
}
.btn{
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 20px;
}
.q6{
text-decoration: none;
color: white;
}
.q7{
text-decoration: none;
color: white;
}